body{
    margin:0;
}
html{
    margin: 0;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
}
#matrix{
    position: fixed;
    top: 0;
    right: 0;
    border: 2px solid #3466bb;
    margin: 2px;
}
/* td{
} */
input{
    width: 40px;
}
tr{
    width: max-content;
    margin-left: 10px;
}